<div class="modal" id="rename">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Rename record
                    <div class="btn btn-danger pull-right" ng-click="closeRenameM()">
                        Close
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <form action="" ng-submit="changeFilename($event)">
                    <div class="form-group">
                        <label class="" for="n_filename">Filename</label>
                        <input class="form-control" type="hidden" name="filename" id="filename" ng-model="filename"/>
                        <input class="form-control" type="text" name="n_filename" id="n_filename"
                               ng-model="n_filename"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default btn-sm">
                            Rename
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="mainController">
    <div class="row">
        <div class="col-sm-9">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Create new conference
                        </h4>
                    </div>
                    <div class="panel-body">
                        <form action="#"
                              id="setup-new-room"
                              role="form"
                              ng-submit="createConference($event)"
                              ng-disabled="!$parent.connected"
                              method="POST"
                              autocomplete='off'>
                            <div class="text-danger" ng-show="error.length">
                                <ul>
                                    <li ng-bind="error"></li>
                                </ul>
                            </div>
                            <div class="form-group {%(nameImportant ? 'has-error' : '')%}">
                                <label class="control-label" for="conf_name">
                                    Conference name <span class="important">*</span>
                                </label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="conf_name"
                                       id="conf_name"
                                       name="conf_name"
                                       ng-blur="generateSipNumber()"
                                       ng-keyup="updateFormAction($event)"/>
                            </div>
                            <!--<div class="form-group {%(sipImportant ? 'has-error' : '')%}">
                                <label class="control-label" for="conf_sip">
                                    Conference SIP number <span class="important">* NUMBERS ONLY</span>
                                </label>
                                <input type="text"
                                       to-number
                                       class="form-control"
                                       ng-model="conf_sip"
                                       id="conf_sip"
                                       name="conf_sip"
                                       placeholder="SIP should be 4 digital numbers"
                                       ng-keyup="updateFormAction($event)"/>
                            </div>-->

                            <div class="form-group">
                                <label for="conf_pass">Conference password ( optional ) <span class="important">NUMBERS ONLY</span></label>
                                <input type="password" name="conf_pass" id="conf_pass" to-number ng-model="conf_pin"
                                       class="form-control" autocomplete="false"/>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-default" ng-disabled="!$parent.connected"> Create
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading m-links">
                        <h4 class="panel-title">
                            Conferences
                        </h4>
                    </div>
                    <div class="panel-body" id="rooms">
                        <table class="table table-rooms" ng-show="rooms.length">
                            <!--<thead>
                            <th>Name</th>
                            <th>Join</th>
                            </thead>-->
                            <tbody>

                            <tr ng-repeat="room in rooms" class="repeater">
                                <td class="col-sm-10">
                                    <strong>
                                        <span ng-bind-template="{%room.sip_name%} (SIP/{%room.name%})"></span>
                                    </strong>
                                    <ul class="list-styled">
                                        <li ng-repeat="user in room.users"
                                            ng-bind-template=" {%user.username%} ( {%user.sip%} )">12
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                        <span class="btn btn-default btn-sm btn-join"
                                              ng-click="join(room.name)"
                                              ng-disabled="!$parent.connected"
                                                >JOIN</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="help-block" ng-show="!rooms.length">
                            <p>No active conference found!</p>
                        </div>
                    </div>
                </div>
            </div>

            <a href="/asterisk/mointor/confbridge-confc-1403860179.wav"></a>

            <div class="clearfix"></div>

        </div>

        <div class="col-sm-3">

            <div class="panel panel-info panel-records">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Records
                    </h4>
                    <a href="#" ng-click="clearRecords($event)" ng-show="$parent.isAdmin">
                        <i class="glyphicon glyphicon-floppy-remove"></i>
                        Clear records
                    </a>
                    <div id="reportrange" class="pull-right">
                        <i class="fa fa-calendar fa-lg"></i>
                        <span></span>
                        <b class="caret""></b>
                    </div>
                </div>
                <div class="panel-body" id="rooms">

                    <table class="table">
                        <thead ng-hide="no_files_message">
                            <th ng-click="rec_predicate = 'name'; rec_reverse=!rec_reverse">
                                Filename
                                <i class="glyphicon {% (rec_predicate == 'name' && rec_reverse ? 'glyphicon-chevron-up': 'glyphicon-chevron-down')%}"></i>
                            </th>
                            <th ng-click="rec_predicate = 'date'; rec_reverse=!rec_reverse">
                                Time
                                <i class="glyphicon {% (rec_predicate == 'date' && rec_reverse ? 'glyphicon-chevron-up': 'glyphicon-chevron-down')%}"></i>
                            </th>
                            <th ng-show="$parent.isAdmin">Rename</th>
                            <th ng-show="$parent.isAdmin">Delete</th>
                        </thead>

                        <input class="form-control" type="search" name="sName" id="sName" ng-model="sName"
                               placeholder="Search" ng-hide="no_files_message"/>
                        <tr>
                            <td colspan="3" ng-show="no_files_message" class="text-center">
                                <p class="help-block">No records found.</p>
                            </td>
                        </tr>
                        <tr ng-repeat="file in files | orderBy: rec_predicate:rec_reverse | filter: {name: sName}">
                            <td>
                                <a href="/records/{%file.name%}-{%file.date%}.wav" ng-bind="file.i_name"></a>
                            </td>
                            <td ng-bind="file.time"></td>

                            <td ng-show="$parent.isAdmin || moderator" align="center">
                                <a href="#" ng-click="rename($event, file)">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>
                            </td>

                            <td ng-show="$parent.isAdmin" align="center">
                                <a href="#" ng-click="clearRecord($event, file)">
                                    <i class="glyphicon glyphicon-floppy-remove"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="clearfix"></div>


        </div>
    </div>
</div>