<div class="mainController" ng-controller="mainController">
    <div class="row">
        <div class="col-sm-9">
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Create new conference
                        </h4>
                    </div>
                    <div class="panel-body">
                        <form action="#"
                              id="setup-new-room"
                              role="form"
                              ng-submit="submit($event)"
                              method="POST"
                              autocomplete='off'>
                            <div class="form-group {%(isExist ? 'has-error' : '')%}">
                                <label class="control-label" for="conf_name">Conference name <span class="important">*</span></label>
                                <input type="text"
                                       class="form-control"
                                       ng-model="roomName"
                                       id="conf_name"
                                       name="conf_name"
                                       ng-keyup="updateFormAction()"/>
                            </div>

                            <!--<div class="form-group">
                                <label for="conf_pass">Conference password ( optional )</label>
                                <input type="password" name="conf_pass" id="conf_pass" class="form-control"/>
                            </div>-->

                            <div class="form-group">
                                <button type="submit" class="btn btn-default"> Create </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            Conferences
                        </h4>
                    </div>
                    <div class="panel-body" id="rooms">
                        <table class="table table-rooms" ng-show="rooms.length">
                            <thead>
                            <th>Name</th>
                            <th>Join</th>
                            </thead>
                            <tbody>
                            <tr ng-repeat="room in rooms" class="repeater">
                                <td class="col-sm-10">
                                    <strong><span ng-bind="room.roomName"></span></strong>
                                    <ul class="list-styled">
                                        <li ng-repeat="user in room.users" ng-bind="user.username"></li>
                                    </ul>
                                </td>
                                <td>
                                        <a class="btn btn-default btn-sm btn-join"
                                              href="/room/{%room.roomName%}"
                                                >JOIN</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="help-block" ng-show="!rooms.length">
                            <p>No conference found!</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>


            <div class="row-fluid video_container">
                <div class="col-sm-12" id="videos-container"></div>
            </div>

        </div>

        <div class="col-sm-3" ng-controller="adminController">

            <admin></admin>

        </div>
    </div>
</div>