<!DOCTYPE HTML>
<html lang="en" ng-app="t3confApp">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>T3 Conf - {{title}}</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/public/css/custom.css"/>
    <link rel="stylesheet" href="public/sip/css/bootstrap-responsive.css">
    <script>
        var USERNAME = "{{username}}";
        var PASSWORD = "{{password}}";
        var LASTNAME = "{{lastname}}";
        var FIRSTNAME = "{{firstname}}";
        var SIP = "{{sip}}";
        var ROOM_NAME;
    </script>
</head>
<body >

<nav role="navigation" class="navbar navbar-top navbar-inverse">
    <div class="">
        <div class="navbar-header">
            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/public/img/logo.png" alt="Sora Conference"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" ng-controller="mainController">
            <div class="nav nav-num navbar-nav pull-left">
                <span class="icon-usa"></span>
                <p>+13108070303</p>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="">
                        Username: {{username}}
                        /
                        SIP: {{sip}}
                    </a>
                </li>
                <li>
                    <a href="/logout" id="btnUnRegister">logout</a>
                </li>
            </ul>

            <div class="btn-toolbar pull-right" style="position:relative; top: 7px; margin-right: 50px;">
                <div id="txtRegStatus" class="pull-right bg-success" ng-bind="status"></div>
                <!--<div id="txtCallStatus" class="pull-right bg-success" ></div>-->
                <div class="btn btn-primary pull-right" ng-click="toggleKeypad()" ng-show="isCalling">keypad</div>
                <div class="btn btn-success pull-right" ng-click="invite()" ng-show="isCalling">Invite</div>
                <div class="btn {%(isMuted ? 'btn-success' : 'btn-danger')%} pull-right" ng-click="mute()" ng-show="isCalling">
                    <span class="glyphicon {%(isMuted ? 'glyphicon-volume-up' : 'glyphicon-volume-off')%}"></span>
                </div>
                <div class="btn btn-danger pull-right" ng-click="hangUp()" ng-show="isCalling">Hang up</div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<div ng-view></div>


<!-- load scripts -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script>
    if (!window.jQuery) {
        document.write('<script src="/public/js/lib/jquery.min.js"><\/script>');
    }
</script>-->
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/jquery-scrollo.min.js"></script>
<script src="/public/js/lib/angular.min.js"></script>
<script src="/public/js/lib/angular-route.min.js"></script>
<script src="/public/js/lib/angular-animate.min.js"></script>
<script src="/public/js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="/public/js/lib/bootstrap.min.js"></script>

<script src="/public/js/lib/SIPml-api.js?svn=224"></script>
<script src="/public/js/lib/socket.io.js"></script>
<script src="/public/js/lib/RTCPeerConnection-v1.6.js"></script>

<div class="sip-devices">
    <div id="tdVideo" class='tab-video'>
        <div id="divVideo" class='div-video'>
            <div id="divVideoRemote" style='border:1px solid #000; height:100%; width:100%'>
                <video class="video" width="100%" height="100%" id="video_remote" autoplay="autoplay" style="opacity: 0;
                                            background-color: #000000; -webkit-transition-property: opacity; -webkit-transition-duration: 2s;">
                </video>
            </div>
            <div id="divVideoLocal" style='border:0px solid #000'>
                <video class="video" width="88px" height="72px" id="video_local" autoplay="autoplay" muted="true" style="opacity: 0;
                                            margin-top: -80px; margin-left: 5px; background-color: #000000; -webkit-transition-property: opacity;
                                            -webkit-transition-duration: 2s;">
                </video>
            </div>
        </div>
    </div>
    <audio id="audio_remote" autoplay="autoplay" />
    <audio id="ringtone" loop src="sound/ringtone.wav" />
    <audio id="ringbacktone" loop src="sound/ringbacktone.wav" />
    <audio id="dtmfTone" src="sound/dtmf.wav" />
</div>
<script src="/public/js/angular/t3confApp.js"></script>
<!-- Controllers -->
<script src="/public/js/angular/controllers/mainController.js"></script>
<script src="/public/js/angular/controllers/adminController.js"></script>
<script src="/public/js/angular/controllers/conferenceController.js"></script>
<script src="/public/js/angular/controllers/chatController.js"></script>


<!-- Directives -->
<script src="/public/js/angular/directives/admin.js"></script>
<script src="/public/js/angular/directives/toNumber.js"></script>
<script src="/public/js/angular/directives/checklist-model.js"></script>

<!-- Services -->
<script src="/public/js/angular/services/watchService.js"></script>
<script src="/public/js/angular/services/sipService.js"></script>
<script src="/public/js/angular/services/chatService.js"></script>
</body>
</html>