<!DOCTYPE HTML>
<html lang="en" ng-app="t3confApp">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <title>T3 Conf - {{title}}</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/public/css/custom.css"/>
    <script>
        var USERNAME = "{{username}}";
        var PASSWORD = "{{password}}";
        var LASTNAME = "{{lastname}}";
        var FIRSTNAME = "{{firstname}}";
        var ROOM_NAME;
    </script>
</head>
<body>

<nav role="navigation" class="navbar navbar-top navbar-inverse">
    <div class="">
        <div class="navbar-header">
            <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/public/img/logo.png" alt="Sora Conference"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav nav-right pull-right">
                <li>
                    <a href="">
                        Username: {{username}}
                    </a>
                </li>
                <li>
                    <a href="/logout">logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

{{>yield}}

<!-- load scripts -->
<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
<!--<script>
    if (!window.jQuery) {
        document.write('<script src="/public/js/lib/jquery.min.js"><\/script>');
    }
</script>-->
<script src="/public/js/lib/jquery.min.js"></script>
<script src="/public/js/lib/jquery-scrollo.min.js"></script>
<script src="/public/js/lib/angular.min.js"></script>
<script src="/public/js/lib/angular-route.min.js"></script>
<script src="/public/js/lib/angular-animate.min.js"></script>
<script src="/public/js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="/public/js/lib/bootstrap.min.js"></script>

<script src="/public/js/lib/socket.io.js"></script>
<script src="/public/js/lib/RTCPeerConnection-v1.6.js"></script>


<script src="/public/js/angular/t3confApp.js"></script>
<script src="/public/js/angular/controllers/mainController.js"></script>
<script src="/public/js/angular/controllers/adminController.js"></script>
<script src="/public/js/angular/controllers/roomController.js"></script>

<script src="/public/js/angular/controllers/chatController.js"></script>

<script src="/public/js/angular/controllers/usersController.js"></script>

<script src="/public/js/angular/directives/admin.js"></script>
<script src="/public/js/angular/services/watchService.js"></script>
<script src="/public/js/angular/services/conferenceService.js"></script>
<script src="/public/js/angular/services/stunService.js"></script>
<script src="/public/js/angular/services/roomService.js"></script>
<script src="/public/js/angular/services/chatService.js"></script>

<script src="/public/js/lib/SIPml-api.js"></script>
<script>
    (function ($) {

        var readyCallback = function (e) {
            createSipStack(); // see next section
        };
        var errorCallback = function (e) {
            console.error('Failed to initialize the engine: ' + e.message);
        };
        SIPml.init(readyCallback, errorCallback);

        var sipStack;

        var options = '';


        function createSipStack() {

            var eventsListener = function (e) {
                if (e.type == 'started') {
                    login();
                }
                else if (e.type == 'i_new_message') { // incoming new SIP MESSAGE (SMS-like)
                    acceptMessage(e);
                }
                else if (e.type == 'i_new_call') { // incoming audio/video call
                    acceptCall(e);
                }
            };

            sipStack = new SIPml.Stack({
                realm: '46.36.223.131', // mandatory: domain name
                impi: 'andrey', // mandatory: authorization name (IMS Private Identity)
                impu: 'sip:andrey@46.36.223.131', // mandatory: valid SIP Uri (IMS Public Identity)
                password: '123456', // optional
                display_name: 'Test', // optional
                //websocket_proxy_url: 'ws://ns313841.ovh.net:10062', // optional
                //                outbound_proxy_url: 'udp://198.27.90.199:5060', // optional
                enable_rtcweb_breaker: true, // optional
                events_listener: { events: '*', listener: eventsListener}, // optional: '*' means all events
                sip_headers: [ // optional
                    { name: 'User-Agent', value: 'IM-client/OMA1.0 sipML5-v1.0.0.0' },
                    { name: 'Organization', value: 'T3leads' }
                ]
            });
        }

        sipStack.start();

        var registerSession;
        var loginListener = function (e) {
            console.info('session event = ' + e.type);
            if (e.type == 'connected' && e.session == registerSession) {
                var callSession = sipStack.newSession('call-audiovideo', {
                    video_local: document.getElementById('video-local'), // <video id="video-local" .../>
                    video_remote: document.getElementById('video-remote'), // <video id="video-remote" .../>
                    audio_remote: document.getElementById('audio-remote') // <audio id="audio-remote" .../>
                });
                callSession.call('1000');
            }
        };
        var login = function () {
            registerSession = sipStack.newSession('register', {
                events_listener: { events: '*', listener: loginListener } // optional: '*' means all events
            });

            registerSession.register();
        }


    }(jQuery));
</script>

</body>
</html>