body {
    padding: 20px;
    font: 14px/20px Arial, Tahoma;
}

label {
    font-weight: normal;
}

.important {
    color: #f85e5d;
    font-weight: bold;
}

.mainController {
    margin-top: 50px;
}

#videos-container {
    margin-top: 20px;
}

.navbar img {
    height: 22px;
}

.table-users {
    max-height: 220px;
}
.table th {
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.table-users th i {
    font-size: 10px;
}

.table-users td {
    font-size: 12px;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: black;
}
.panel-heading a.collapsed:after {
    content: "";
}

.repeater.ng-enter,
.repeater.ng-move {
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -ms-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;

    opacity: 0;
}

.repeater.ng-enter.ng-enter-active,
.repeater.ng-move.ng-move-active {
    opacity: 1;
}

.repeater.ng-leave {
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;

    opacity: 1;
}

.repeater.ng-leave.ng-leave-active {
    opacity: 0;
}


.message-spot {
    height: 400px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message-spot .messages {
    bottom: 10px;
    left: 10px;
    right: 10px;
    position: relative;
    height: 100%;
}

.message-spot .messages-container {
    position: relative;
    float: left;
}

.message-spot .messages  p {
    border-radius: 3px;
    box-shadow: 0 3px 3px #E3E4E6;
    font-size: 13px;
    color: #637277;
    display: inline-block;
    clear: both;
    float: left;
    line-height: 1.4;
    margin-bottom: 4px;
    margin-left: 20px;
    max-width: 510px;
    padding: 2px 8px;
    text-align: left;
    word-wrap: break-word;
}


.message-spot .messages  p span:first-child {
    font-weight: bold;
}

.message-spot .local {
    font-weight: bold!important;
}

.room_users li {
    cursor: pointer;
}
.messages-container .active {
    background-color: yellowgreen!important;
}

#user-tag {
    position: absolute;
    left: 22px;
    top: 2px;
}

.remove i {
    cursor: pointer;
}

.remove i:hover {
    opacity: 0.7;
}

.b-video {
    position: relative;
}

.b-video .btn {
    position: absolute;
    top: 0;
}

.b-video .btn-mute {
    left: 0;
}
.b-video .btn-hide {
    right: 0;
}
.b-video .btn-false {
    background: #B92C28!important;
}

.b-video .btn-true {
    background: #5CB85C!important;
}

#signupform .text-danger {
    padding: 10px;
}



.navbar-inner-red {
    background-color: #600000;
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
}

.full-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.normal-screen {
    position: relative;
}

.call-options {
    padding: 5px;
    background-color: #f0f0f0;
    border: 1px solid #eee;
    border: 1px solid rgba(0, 0, 0, 0.08);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
}

.tab-video,
.div-video {
    width: 100%;
    height: 0px;
    -webkit-transition-property: height;
    -moz-transition-property: height;
    -o-transition-property: height;
    -webkit-transition-duration: 2s;
    -moz-transition-duration: 2s;
    -o-transition-duration: 2s;
}

.label-align {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

.input-align {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}

.glass-panel {
    z-index: 99;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    opacity: 0.8;
    background-color: Gray;
}

.div-keypad {
    position: relative;
    float: left;
    width: 100%;
}

#divVideoLocal {
    display: none;
}