<div class="panel panel-info panel-users" ng-show="moderator">
    <div class="panel-heading">
        <h4 class="panel-title">
            Administrator control panel
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
            <table class="table table-users">
                <thead>
                <th class="text-center" ng-click="predicate = 'index'; reverse=!reverse">
                    #
                    <i class="glyphicon {% (predicate == 'index' && reverse ? 'glyphicon-chevron-up': 'glyphicon-chevron-down')%}"></i>
                </th>
                <th class="text-center" ng-click="predicate = 'username'; reverse=!reverse">
                    Username
                    <i class="glyphicon {% (predicate == 'username' && reverse ? 'glyphicon-chevron-up': 'glyphicon-chevron-down')%}"></i>
                </th>
                <th class="text-center" ng-click="predicate = 'approved'; reverse=!reverse">
                    Apr
                    <i class="glyphicon {% (predicate == 'approved' && reverse ? 'glyphicon-chevron-up': 'glyphicon-chevron-down')%}"></i>
                </th>
                <th class="text-center" ng-click="predicate = 'moderator'; reverse=!reverse" ng-show="isAdmin">
                    Mod
                    <i class="glyphicon {% (predicate == 'moderator' && reverse ? 'glyphicon-chevron-up': 'glyphicon-chevron-down')%}"></i>
                </th>
                <th class="text-center" ng-click="predicate = 'date'; reverse=!reverse">
                    Date
                    <i class="glyphicon {% (predicate == 'date' && reverse ? 'glyphicon-chevron-up': 'glyphicon-chevron-down')%}"></i>
                </th>
                <th class="text-center" ng-click="predicate = 'date'; reverse=!reverse" ng-show="isAdmin">
                    <i class="glyphicon glyphicon-floppy-remove"></i>
                </th>
                </thead>
                <tr class="{% (user.approved) ? 'success': '' %}"
                    ng-repeat="user in users | orderBy: predicate:reverse">
                    <td ng-bind="user.index"></td>
                    <td>
                        <i class="glyphicon glyphicon-user"></i>
                        <span ng-bind-template="{%user.lastname%} {%user.firstname%}"></span>
                    </td>
                    <td>
                        <input type="checkbox"
                               data-ng-checked="user.approved"
                               data-ng-click="setUserApproved(user._id, $event)">

                    </td>
                    <td ng-show="$parent.isAdmin">
                        <input type="checkbox" value="{%user.moderator%}"
                               data-ng-checked="user.moderator"
                               data-ng-click="setUserModerator(user._id, $event)">
                    </td>
                    <td>
                        <span ng-bind="user.date"></span>
                    </td>
                    <td class="remove" ng-show="$parent.isAdmin">
                        <i class="glyphicon glyphicon-floppy-remove" ng-click="removeUser(user._id)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>