<nav role="navigation" class="navbar navbar-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button data-target="#navbar1" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/img/logo.png" alt="Sora Conference"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navbar1">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-ng-controller="mainController">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <span class="icon-usa">
                                +13108070303
                            </span>

                        </a>
                    </li>
                    <li ng-show="role === 'admin' || moderator">
                        <div class="btn navbar-btn btn-sm btn-primary" data-ng-click="goToDashBoard()">Dashboard</div>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="btn navbar-btn btn-sm btn-primary" ng-click="toggleKeypad()" ng-show="inConference">keypad</div>
                    </li>
                    <li>
                        <div class="btn navbar-btn btn-sm btn-success" ng-click="invite()" ng-show="inCall">Invite</div>
                    </li>
                    <li>
                        <div class="btn navbar-btn btn-sm {%(isMuted ? 'btn-danger' : 'btn-success')%}" ng-click="mute()" ng-show="inCall">
                            <span class="glyphicon {%(isMuted ? 'glyphicon-volume-off' : 'glyphicon-volume-up')%}"></span>
                        </div>
                    </li>
                    <li>
                        <div class="btn navbar-btn btn-sm btn-danger" ng-click="hangUp()" ng-show="inCall">Hang up</div>
                    </li>
                    <li>
                        <button id="txtRegStatus" class="btn bg-success navbar-btn btn-sm btn-st" ng-bind="status"></buttn>
                    </li>
                    <li class="dropdown">
                        <span class="btn btn-info navbar-btn btn-sm" data-toggle="dropdown">
                            SIP SETTINGS <span class="caret"></span>
                        </span>
                        <table class="dropdown-menu table sip-table" role="menu">
                            <tr>
                                <td>Server</td>
                                <td>46.36.223.131</td>
                            </tr>
                            <tr>
                                <td>SIP</td>
                                <td ng-bind="sip"></td>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td ng-bind="username"></td>
                            </tr>
                            <tr>
                                <td>Password</td>
                                <td ng-bind="password"></td>
                            </tr>
                        </table>
                    </li>
                    <li>
                        <a href="">
                            Username: {{username}}
                        </a>
                    </li>
                    <li>
                        <a href="/logout" id="btnUnRegister">logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>